{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      },
      "modules": false,
      "loose": true
    }],
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-flow-strip-types"
  ],
  "env": {
    "production": {
      "plugins": [
        "babel-plugin-transform-react-constant-elements",
        "babel-plugin-transform-react-inline-elements",
        "babel-plugin-transform-react-remove-prop-types"
      ]
    }
  }
}
