html,
body {
  -webkit-font-smoothing: subpixel-antialiased;
  height: 100%;
  margin: 0;
  max-width: 100%;
  padding: 0;
  text-rendering: optimizeLegibility;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

* {
  &,
  &::after, // *::after
  &::before { // *::before
    box-sizing: inherit;
  }
}

body {
  background-color: $background-color;
  color: $base-text-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}

.root {
  height: 100%;
}

a {
  border-bottom: 1px solid $transparent;
  color: $blue;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid $blue;
  }

  .touch & { // .touch a
    -webkit-tap-highlight-color: $transparent;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings-font-family;
  font-weight: 500;
  line-height: $base-line-height;
  margin: 0;
  text-transform: capitalize;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

small {
  font-size: .75em;
}

// Fix for IE10 "metro" panel
@-ms-viewport {
  width: device-width;
}
