@import '../../styles/variables';

.root {
  background: $oil;
  color: $gainsboro;
  display: flex;
  flex-direction: column;
  width: 13.75rem;
}

.top {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem;
}

.nav {
  flex: 1 1 auto;
  font-size: .875rem;
}

.link {
  border: 0;
  color: $gainsboro;
  display: block;
  padding: .5rem 1rem;

  &:hover {
    background: rgba($white, .05);
    border: 0;
  }

  &:focus {
    background: rgba($white, .1);
  }
}

.activeLink {
  background: rgba($white, .1);
  color: $white;
}

.bottom {
  display: flex;
  font-size: .875rem;
  margin: 2rem 0 0;
  padding: 1rem;
}

.userIcon {
  height: 2rem;
  width: 2rem;
}

.user {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  padding: 0 0 0 1rem;
}
